#subtitle{
  font-size: 42px;
text-align: center;
font-weight: 600;
margin-top: 40px;
color: #fff;
@media (max-width: 768px) {
margin-top: 12px;
    font-size: 32px;
}
}

.cert-carousel {
  width: 700px;
  margin: auto;
  height: 500px;
  margin-block-start: 30px;
}

.cert-image-container {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-size: contain; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
}

